<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div className="App">
      <form class="container" method="POST"  action="http://127.0.0.1:5000/pl" enctype= "multipart/form-data" >
      <h1>UPLOAD FILE</h1>
      <input type="file" name="fname"/><br/><br/>
      <input type="submit" value="Upload" />
      <Link to="/contact"><input type="submit" value="filepath here" /></Link>
      </form>
      
  </div>
  </body>
</html>